<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gametournament -->
      <package
            uri="http://com.sii/gametournament/1.0"
            class="com.sii.gametournament.GametournamentPackage"
            genModel="model/gametournament.genmodel"/>
   </extension>

</plugin>
