<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            uri="http://com.sii/gametournament/1.0"
            class="com.sii.gametournament.impl.GametournamentFactoryImpl">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.sii/gametournament/1.0"
            class="com.sii.gametournament.MGametournamentPackage">
      </package>
   </extension>

</plugin>
